@font-face {
  font-family: 'black';
  src: url('../fonts/black.TTF');
}
body {
  overflow: hidden;
  position: relative;
  width: 10rem;
  height: 16.25rem;
}
section {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 10rem;
  height: 16.25rem;
}
.hide {
  display: none;
}
.luck_btn {
  position: absolute;
  right: 0.390625rem;
  bottom: 0.390625rem;
  z-index: 555;
  width: 0.921875rem;
  height: 0.921875rem;
}
.footer {
  position: absolute;
  bottom: 0.390625rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 555;
  width: 50%;
  text-align: center;
  font-size: 7px;
  color: #fff;
}
[data-dpr='2'] .footer {
  font-size: 14px;
}
[data-dpr='3'] .footer {
  font-size: 21px;
}
@-webkit-keyframes breathing_scale {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes breathing_scale {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes breathing_lamp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes breathing_lamp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
@-webkit-keyframes scale_hand {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale_hand {
  from {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.loading {
  background: url(../images/select_bg.png) no-repeat;
  background-size: 100% 100%;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
[data-dpr='2'] .loading {
  font-size: 48px;
}
[data-dpr='3'] .loading {
  font-size: 72px;
}
.loading .progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 53%;
  margin: auto;
  width: 3.546875rem;
  height: 0.171875rem;
  background: url('../images/progress.png') no-repeat center center;
  background-size: 100%;
  border-radius: 0.078125rem;
  overflow: hidden;
}
.loading .progress span {
  display: block;
  height: 0.171875rem;
  width: 0%;
  max-width: 3.546875rem;
  background: #f3d906;
  border-radius: 0.078125rem;
}
.loading .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  font-size: 12px;
  font-family: 'black';
  font-weight: bold;
  color: #000;
}
[data-dpr='2'] .loading .text {
  font-size: 24px;
}
[data-dpr='3'] .loading .text {
  font-size: 36px;
}
.open_animate canvas {
  width: 100%;
  height: 100%;
}
.open_animate .click_tips {
  position: absolute;
  bottom: 3.125rem;
  left: -0.78125rem;
  right: 0;
  margin: auto;
  text-align: center;
}
.open_animate .click_tips .click_light {
  width: 0.8125rem;
  height: 0.8125rem;
  -webkit-animation: breathing_lamp 0.5s linear infinite alternate-reverse;
  animation: breathing_lamp 0.5s linear infinite alternate-reverse;
}
.open_animate .click_tips .click_hand {
  position: absolute;
  bottom: -0.09375rem;
  left: 0.140625rem;
  right: 0;
  width: 0.46875rem;
  margin: auto;
  -webkit-animation: scale_hand 0.5s linear infinite alternate-reverse;
  animation: scale_hand 0.5s linear infinite alternate-reverse;
}
.open_animate .click_area {
  position: absolute;
  bottom: 2.890625rem;
  left: 3.046875rem;
  z-index: 88888;
  width: 3.125rem;
  height: 3.90625rem;
}
.select {
  background: url(../images/select_bg.png) no-repeat;
  background-size: 100% 100%;
}
.select .mac {
  position: absolute;
  top: 0.234375rem;
  left: 2.96875rem;
  width: 3.921875rem;
  height: 4.953125rem;
  -webkit-animation: breathing_scale 0.5s linear infinite alternate-reverse;
  animation: breathing_scale 0.5s linear infinite alternate-reverse;
}
.select .mac .mac_logo {
  margin-top: 0.15625rem;
  width: 1.25rem;
  height: 0.140625rem;
}
.select .pocky {
  position: absolute;
  top: 3.90625rem;
  left: 6.40625rem;
  width: 3.921875rem;
  height: 4.953125rem;
  -webkit-animation: breathing_scale 0.5s linear infinite alternate-reverse;
  animation: breathing_scale 0.5s linear infinite alternate-reverse;
}
.select .pocky .pocky_logo {
  width: 0.65625rem;
  height: 0.5625rem;
}
.select .oysho {
  position: absolute;
  top: 7.34375rem;
  left: 0.78125rem;
  width: 3.921875rem;
  height: 4.953125rem;
  -webkit-animation: breathing_scale 0.5s linear infinite alternate-reverse;
  animation: breathing_scale 0.5s linear infinite alternate-reverse;
}
.select .oysho .oysho_logo {
  margin-top: 0.15625rem;
  width: 1.078125rem;
  height: 0.203125rem;
}
.select .bubble {
  width: 100%;
  height: 100%;
  -webkit-animation: breathing_lamp 1s linear infinite alternate-reverse;
  animation: breathing_lamp 1s linear infinite alternate-reverse;
}
.select .content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0.234375rem;
  left: 0.234375rem;
  width: 3.296875rem;
  height: 3.375rem;
  padding: 0.15625rem;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0.03125rem 0 0.3125rem #aaa;
  box-shadow: 0.03125rem 0 0.3125rem #aaa;
  background: #fff;
  font-family: 'black';
  font-size: 0;
}
.select .content .text {
  font-size: 9px;
  line-height: 1.6;
}
[data-dpr='2'] .select .content .text {
  font-size: 18px;
}
[data-dpr='3'] .select .content .text {
  font-size: 27px;
}
.select .content .text .title {
  display: inline-block;
  padding: 0.15625rem 0 0.078125rem;
  font-size: 11px;
  font-weight: bold;
}
[data-dpr='2'] .select .content .text .title {
  font-size: 22px;
}
[data-dpr='3'] .select .content .text .title {
  font-size: 33px;
}
.select .content .text .title sup {
  font-size: 7px;
  vertical-align: top;
}
[data-dpr='2'] .select .content .text .title sup {
  font-size: 14px;
}
[data-dpr='3'] .select .content .text .title sup {
  font-size: 21px;
}
.select .content .text strong {
  color: #fc3d54;
}
.select .click_tips {
  position: absolute;
  bottom: 0.46875rem;
  left: -0.078125rem;
  right: 0;
  margin: auto;
  text-align: center;
}
.select .click_tips .click_light {
  width: 0.8125rem;
  height: 0.8125rem;
  -webkit-animation: breathing_lamp 1s linear infinite alternate-reverse;
  animation: breathing_lamp 1s linear infinite alternate-reverse;
}
.select .click_tips .click_hand {
  position: absolute;
  bottom: -0.09375rem;
  left: 0.140625rem;
  right: 0;
  width: 0.46875rem;
  margin: auto;
  -webkit-animation: scale_hand 1s linear infinite alternate-reverse;
  animation: scale_hand 1s linear infinite alternate-reverse;
}
.mac_lottery {
  background: url(../images/mac_bg.png) no-repeat;
  background-size: 100% 100%;
}
.mac_lottery .mac_table_bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 1.5625rem;
  margin: auto;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: #7f085f;
  -webkit-box-shadow: 0.078125rem 0 0.3125rem #fff inset, 0.15625rem 0 0.3125rem #000;
  box-shadow: 0.078125rem 0 0.3125rem #fff inset, 0.15625rem 0 0.3125rem #000;
}
.mac_lottery .mac_table_bg .mac_turntable_bg {
  position: relative;
  left: 0.25rem;
  top: 0.25rem;
  width: 7.03125rem;
  height: 7.03125rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.078125rem 0 0.234375rem #000;
  box-shadow: 0.078125rem 0 0.234375rem #000;
}
.mac_lottery .mac_table_bg .mac_turntable_bg .mac_turntable {
  width: 100%;
  height: 100%;
  background: url(../images/mac_turntable.png) no-repeat;
  background-size: 100% 100%;
}
.mac_lottery .mac_table_bg .mac_turntable_bg .mac_start {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1.8125rem;
  height: 2.21875rem;
  background: url('../images/mac_start.png') no-repeat;
  background-size: 100% 100%;
  -webkit-animation: breathing_scale 0.5s linear infinite alternate-reverse;
  animation: breathing_scale 0.5s linear infinite alternate-reverse;
}
.mac_lottery .return {
  position: absolute;
  left: 0.15625rem;
  top: 0.15625rem;
  width: 1.40625rem;
  padding: 0.3125rem;
}
.mac_lottery .return img {
  width: 100%;
}
.pocky_lottery {
  background: url(../images/pocky_bg.png) no-repeat;
  background-size: 100% 100%;
}
.pocky_lottery .pocky_table_bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 1.5625rem;
  margin: auto;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: #f8a4ae ;
  -webkit-box-shadow: 0.078125rem 0 0.3125rem #fff inset, 0.15625rem 0 0.3125rem #000;
  box-shadow: 0.078125rem 0 0.3125rem #fff inset, 0.15625rem 0 0.3125rem #000;
}
.pocky_lottery .pocky_table_bg .pocky_turntable_bg {
  position: relative;
  left: 0.25rem;
  top: 0.25rem;
  width: 7.03125rem;
  height: 7.03125rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.078125rem 0 0.234375rem #000;
  box-shadow: 0.078125rem 0 0.234375rem #000;
}
.pocky_lottery .pocky_table_bg .pocky_turntable_bg .pocky_turntable {
  width: 100%;
  height: 100%;
  background: url(../images/pocky_turntable.png) no-repeat;
  background-size: 100% 100%;
}
.pocky_lottery .pocky_table_bg .pocky_turntable_bg .pocky_start {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1.8125rem;
  height: 2.21875rem;
  background: url('../images/pocky_start.png') no-repeat;
  background-size: 100% 100%;
  -webkit-animation: breathing_scale 0.5s linear infinite alternate-reverse;
  animation: breathing_scale 0.5s linear infinite alternate-reverse;
}
.pocky_lottery .return {
  position: absolute;
  left: 0.15625rem;
  top: 0.15625rem;
  width: 1.40625rem;
  padding: 0.3125rem;
}
.pocky_lottery .return img {
  width: 100%;
}
.oysho_lottery {
  background: url(../images/oysho_bg.png) no-repeat;
  background-size: 100% 100%;
}
.oysho_lottery .oysho_table_bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 1.5625rem;
  margin: auto;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: #dca270;
  -webkit-box-shadow: 0.078125rem 0 0.3125rem #fff inset, 0.15625rem 0 0.3125rem #000;
  box-shadow: 0.078125rem 0 0.3125rem #fff inset, 0.15625rem 0 0.3125rem #000;
}
.oysho_lottery .oysho_table_bg .oysho_turntable_bg {
  position: relative;
  left: 0.25rem;
  top: 0.25rem;
  width: 7.03125rem;
  height: 7.03125rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.078125rem 0 0.234375rem #000;
  box-shadow: 0.078125rem 0 0.234375rem #000;
}
.oysho_lottery .oysho_table_bg .oysho_turntable_bg .oysho_turntable {
  width: 100%;
  height: 100%;
  background: url(../images/oysho_turntable.png) no-repeat;
  background-size: 100% 100%;
}
.oysho_lottery .oysho_table_bg .oysho_turntable_bg .oysho_start {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1.8125rem;
  height: 2.21875rem;
  background: url('../images/oysho_start.png') no-repeat;
  background-size: 100% 100%;
  -webkit-animation: breathing_scale 0.5s linear infinite alternate-reverse;
  animation: breathing_scale 0.5s linear infinite alternate-reverse;
}
.oysho_lottery .return {
  position: absolute;
  left: 0.15625rem;
  top: 0.15625rem;
  width: 1.40625rem;
  padding: 0.3125rem;
}
.oysho_lottery .return img {
  width: 100%;
}
.integral {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 10rem;
  height: 16.25rem;
  background: rgba(0, 0, 0, 0.6);
}
.integral .integral_wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  padding: 0.21875rem;
  width: 7.8125rem;
  height: 7.34375rem;
  border: 0.0625rem solid #eee;
  border-radius: 0.46875rem;
}
.integral .integral_wrapper .integral_box {
  width: 100%;
  height: 100%;
  background: #eee;
  border-radius: 0.46875rem;
}
.integral .integral_wrapper .integral_box .title {
  padding-top: 0.15625rem;
  text-align: center;
  height: 0.78125rem;
  line-height: 0.78125rem;
  font-size: 18px;
  font-weight: bold;
}
[data-dpr='2'] .integral .integral_wrapper .integral_box .title {
  font-size: 36px;
}
[data-dpr='3'] .integral .integral_wrapper .integral_box .title {
  font-size: 54px;
}
.integral .integral_wrapper .integral_box .user_num {
  padding-left: 0.3125rem;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  border-bottom: 0.046875rem solid #b5b5b5;
}
[data-dpr='2'] .integral .integral_wrapper .integral_box .user_num {
  font-size: 28px;
}
[data-dpr='3'] .integral .integral_wrapper .integral_box .user_num {
  font-size: 42px;
}
.integral .integral_wrapper .integral_box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
}
[data-dpr='2'] .integral .integral_wrapper .integral_box .content {
  font-size: 32px;
}
[data-dpr='3'] .integral .integral_wrapper .integral_box .content {
  font-size: 48px;
}
.integral .integral_wrapper .integral_box .content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.5625rem;
  text-align: center;
}
.integral .integral_wrapper .integral_box .content li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 24px;
}
[data-dpr='2'] .integral .integral_wrapper .integral_box .content li span {
  font-size: 48px;
}
[data-dpr='3'] .integral .integral_wrapper .integral_box .content li span {
  font-size: 72px;
}
.integral .integral_wrapper .integral_box .content li span .integral_oysho {
  width: 2.28125rem;
  height: 0.453125rem;
}
.integral .integral_wrapper .integral_box .content li span .integral_mac {
  width: 2.28125rem;
  height: 0.25rem;
}
.integral .integral_wrapper .integral_box .content li span .integral_pocky {
  width: 1.421875rem;
  height: 1.21875rem;
}
.share {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 10rem;
  height: 16.25rem;
  background: rgba(0, 0, 0, 0.6);
}
.share .share_tips {
  position: absolute;
  right: 0.46875rem;
  top: 0.46875rem;
  width: 4.703125rem;
}
.share .share_wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  padding: 0.21875rem;
  width: 7.8125rem;
  height: 6.71875rem;
  border: 0.0625rem solid #eee;
  border-radius: 0.46875rem;
}
.share .share_wrapper .share_box {
  width: 100%;
  height: 100%;
  background: #eee;
  border-radius: 0.46875rem;
}
.share .share_wrapper .share_box .content {
  padding: 0.3125rem 0.234375rem;
  text-indent: 2em;
  line-height: 0.703125rem;
  letter-spacing: 0.03125rem;
  font-weight: bold;
  font-size: 12px;
  font-family: 'black';
}
[data-dpr='2'] .share .share_wrapper .share_box .content {
  font-size: 24px;
}
[data-dpr='3'] .share .share_wrapper .share_box .content {
  font-size: 36px;
}
.share .share_wrapper .share_box .content .btn {
  text-align: center;
  text-indent: 0;
}
.share .share_wrapper .share_box .content .btn button {
  margin-top: 0.46875rem;
  padding: 0.15625rem 0.3125rem;
  border: 0.0625rem solid #000;
  border-radius: 0.15625rem;
  -webkit-box-shadow: 0.078125rem 0.078125rem 0.15625rem #666;
  box-shadow: 0.078125rem 0.078125rem 0.15625rem #666;
  background: #eee;
  font-size: 16px;
  font-family: 'black';
  font-weight: bold;
}
[data-dpr='2'] .share .share_wrapper .share_box .content .btn button {
  font-size: 32px;
}
[data-dpr='3'] .share .share_wrapper .share_box .content .btn button {
  font-size: 48px;
}
.share .share_wrapper .share_box .content .username {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.share .share_wrapper .share_box .content span {
  font-size: 18px;
}
[data-dpr='2'] .share .share_wrapper .share_box .content span {
  font-size: 36px;
}
[data-dpr='3'] .share .share_wrapper .share_box .content span {
  font-size: 54px;
}
.share .share_wrapper .share_box .content .coin {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.share .share_wrapper .share_box .content strong {
  color: #ff0036;
  font-size: 15px;
}
[data-dpr='2'] .share .share_wrapper .share_box .content strong {
  font-size: 30px;
}
[data-dpr='3'] .share .share_wrapper .share_box .content strong {
  font-size: 45px;
}
.finish {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 10rem;
  height: 16.25rem;
  background: rgba(0, 0, 0, 0.6);
}
.finish .finish_tips {
  position: absolute;
  right: 0.46875rem;
  top: 0.46875rem;
  width: 4.703125rem;
}
.finish .finish_wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  padding: 0.21875rem;
  width: 7.8125rem;
  height: 6.71875rem;
  border: 0.0625rem solid #eee;
  border-radius: 0.46875rem;
}
.finish .finish_wrapper .finish_box {
  width: 100%;
  height: 100%;
  background: #eee;
  border-radius: 0.46875rem;
}
.finish .finish_wrapper .finish_box .content {
  padding: 1.5625rem 0.234375rem;
  line-height: 0.78125rem;
  letter-spacing: 0.03125rem;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: 'black';
}
[data-dpr='2'] .finish .finish_wrapper .finish_box .content {
  font-size: 28px;
}
[data-dpr='3'] .finish .finish_wrapper .finish_box .content {
  font-size: 42px;
}
.finish .finish_wrapper .finish_box .content button {
  margin-top: 1.25rem;
  padding: 0.15625rem 0.3125rem;
  border: 0.0625rem solid #000;
  border-radius: 0.15625rem;
  -webkit-box-shadow: 0.078125rem 0.078125rem 0.15625rem #666;
  box-shadow: 0.078125rem 0.078125rem 0.15625rem #666;
  background: #eee;
  font-size: 16px;
  font-family: 'black';
  font-weight: bold;
}
[data-dpr='2'] .finish .finish_wrapper .finish_box .content button {
  font-size: 32px;
}
[data-dpr='3'] .finish .finish_wrapper .finish_box .content button {
  font-size: 48px;
}
.nothing {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 10rem;
  height: 16.25rem;
  background: rgba(0, 0, 0, 0.6);
}
.nothing .nothing_tips {
  position: absolute;
  right: 0.46875rem;
  top: 0.46875rem;
  width: 4.703125rem;
}
.nothing .nothing_wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  padding: 0.21875rem;
  width: 7.8125rem;
  height: 6.71875rem;
  border: 0.0625rem solid #eee;
  border-radius: 0.46875rem;
}
.nothing .nothing_wrapper .nothing_box {
  width: 100%;
  height: 100%;
  background: #eee;
  border-radius: 0.46875rem;
}
.nothing .nothing_wrapper .nothing_box .content {
  padding: 1.5625rem 0.234375rem;
  line-height: 0.78125rem;
  letter-spacing: 0.03125rem;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: 'black';
}
[data-dpr='2'] .nothing .nothing_wrapper .nothing_box .content {
  font-size: 28px;
}
[data-dpr='3'] .nothing .nothing_wrapper .nothing_box .content {
  font-size: 42px;
}
.nothing .nothing_wrapper .nothing_box .content button {
  margin-top: 1.25rem;
  padding: 0.15625rem 0.3125rem;
  border: 0.0625rem solid #000;
  border-radius: 0.15625rem;
  -webkit-box-shadow: 0.078125rem 0.078125rem 0.15625rem #666;
  box-shadow: 0.078125rem 0.078125rem 0.15625rem #666;
  background: #eee;
  font-size: 16px;
  font-family: 'black';
  font-weight: bold;
}
[data-dpr='2'] .nothing .nothing_wrapper .nothing_box .content button {
  font-size: 32px;
}
[data-dpr='3'] .nothing .nothing_wrapper .nothing_box .content button {
  font-size: 48px;
}
